<%= bootstrap_form_for(@instructor, label_errors: true, :html => {:multipart => true}, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8" ) do |f| %>
	<%# f.text_field :country_of_origin %>
	<% if @instructor.avatar? %>
		<%= f.form_group do %>
			<%= image_tag(@instructor.avatar_url(:thumb), class: 'img-rounded')  %>
	    <%# f.check_box :remove_avatar %>
		<% end %>
	<% end %>

	<%= f.file_field :avatar %>
	<%= f.hidden_field :avatar_cache %>


	<% if @instructor.resume? %>
		<%= f.form_group :remove_resume, label: {text: "Resume"} do %>
			<%= f.check_box :remove_resume, label: "You've already uploaded a Resume. Remove?" %>
		<% end %>
	<% else %>
			<%= f.file_field :resume %>
			<%= f.hidden_field :resume_cache %>	
	<% end %>

	<% if @instructor.credential? %>
		<%= f.form_group :remove_credential, label: {text: "Credential"} do %>
			<%= f.check_box :remove_credential, label: "You've already uploaded a credential. Remove?" %>
		<% end %>
	<% else %>
		<%= f.file_field :credential %>
		<%= f.hidden_field :credential_cache %>
	<% end %>

	<% if @instructor.credential_extra? %>
		<%= f.form_group :remove_credential_extra, label: {text: "Second Credential"} do %>
			<%= f.check_box :remove_credential_extra, label: "You've already uploaded a second credential. Remove?" %>
		<% end %>
	<% else %>
		<%= f.file_field :credential_extra, label: "Second Credential" %>
		<%= f.hidden_field :credential_extra_cache %>
	<% end %>

	<%= f.form_group :country, label: {text: "Country"} do %>
	  <%= f.country_select :country_of_origin, {priority_countries: ["US", "CA", "GB", "AU"], prompt: 'Where are you from?'}, class: 'form-control' %>
  <% end %>

	<%# f.text_field :first_language %>
	
	<div class="form-group">
		<label for="" class="control-label col-sm-2">
			Subject to teach
		</label>
		<div class="col-sm-8">
			<input class="form-control" id="disabledInput" type="text" placeholder="English" disabled>
			<p class="help-block">Currently we only offer English to teach. More coming soon.</p>
		</div>
	</div>

	<%= f.hidden_field :subject_to_teach, value: 'English' %>
	<%= f.form_group :education, label: { text: "Education" } do %>
	  <%= f.radio_button :education, 'College', label: "College" %>
	  <%= f.radio_button :education, 'Bachelors', label: "Bachelors" %>
	  <%= f.radio_button :education, 'Masters', label: "Masters" %>
	  <%= f.radio_button :education, 'Other', label: "Other" %>
	<% end %>

	<%= f.number_field :price_cents %>
	<%= f.text_field :skype %>
	<%= f.text_area :description, rows: 8 %>
	<%= f.form_group do  %>
	  <%= f.primary "Save it!" %> 
  <% end %>
<% end %>
