<% title("#{@instructor.teacher.first_name} #{@instructor.teacher.last_name}'s page") %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-3 ">
				
					<%= image_tag @instructor.avatar_url(:thumb), class: 'img-rounded' %>
				</div>
				<h2 class="col-sm-8">
					<%="#{@instructor.teacher.first_name} #{@instructor.teacher.last_name}" %> &nbsp;
				</h2>
			</div>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><%= @first_name %>'s info</div>
		  <div class="panel-body">
		    <p>Take a look at <%= @first_name %>'s info and see if they're the teacher for you </p>
		  </div>
		  <!-- List group -->
		  <ul class="list-group">
		    <li class="list-group-item"><b>Time Zone: </b>&nbsp;&nbsp;&nbsp;&nbsp; <%= @instructor.teacher.time_zone %></li>
		    <li class="list-group-item"><b>Country of Origin: </b> &nbsp;&nbsp;&nbsp;&nbsp;<%= @instructor.country_name %></li>
		    <!-- <li class="list-group-item"><b>First Language: </b>&nbsp;&nbsp;&nbsp;&nbsp; <%# @instructor.first_language %></li> -->
		    <li class="list-group-item"><b>Teaching: </b> &nbsp;&nbsp;&nbsp;&nbsp;<%= @instructor.subject_to_teach %></li>
		    <li class="list-group-item"><b>Edumacation: </b>&nbsp;&nbsp;&nbsp;&nbsp;<%= @instructor.education %></li>
		     <li class="list-group-item"><b>Hourly Rate:</b>&nbsp;&nbsp;&nbsp;&nbsp; <%= @instructor.price_cents %></li>
		  </ul>
		</div>

		<!-- resume info -->
		<% if @instructor.resume? %>
			<%= link_to @instructor.resume_url, class: 'btn btn-primary btn-xs', target: "_blank" do %>
				<span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download <%= @first_name %>'s Resume 
			<% end %>
		<% else %>	
			<i><%= "#{@instructor.teacher.first_name.capitalize} hasn't uploaded a resume yet." %></i>
		<% end %>
		<br><br>
		<%= link_to 'Availabilities',instructor_availabilities_path(@instructor) %>

		</div>
	</div>
<br>

<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<div id='top'>
			Language:
			<select id='lang-selector'></select>
		</div>
	</div>
</div>

<br>

<!-- Calendar -->
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
			<% if current_user == @instructor.teacher %>
  <!-- This code renders the calendar the Instructor will see-->
	  		<div id="Icalendar" class="Icalendar" data-instructor-id="<%= @instructor.id %>" data-instructor-timezone="<%= @instructor.teacher.time_zone %>">
		  <!-- pass the timezone params. pass the other event params via the 'data' attribute -->
	  		</div>
			<% else %>
			<!-- This code renders the calendar the User will see-->
				<div id="Ucalendar" class="Ucalendar" data-instructor-id="<%= @instructor.id %>" data-user-timezone="<%= current_user.time_zone if current_user.present? %>">
			  <!-- pass the timezone params. pass the other event params via the 'data' attribute -->
	      </div>
			<% end %>
  	</div>
  </div>


<!-- Timeslot modal -->
<div id="availabilityModal" class="modal fade">
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
         <h4 id="modalTitle" class="modal-title">Create an Availability</h4>
     </div>

     <div id="modalBody" class="modal-body">

      <%= form_for([@instructor, Availability.new], remote: true) do |f| %>
      
        <div class="field">
          <%= f.label :start_time %>
          <%= f.datetime_select :start_time, discard_year: true, minute_step: 15, ampm: true %>
        </div>

        <div class="field">
          <%= f.label :end_time %>
          <%= f.datetime_select :end_time, discard_year: true, minute_step: 15, ampm: true %>
        </div>

     </div>

      <div class="modal-footer form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" name="commit" id='submit_availability' class="btn btn-md btn-primary">Create this Availability!</button>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- Booking modal -->
<div id="bookingModal" class="modal fade">
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
         <h4 id="modalTitle" class="modal-title">Make a Booking</h4>
     </div>

     <div id="modalBody" class="modal-body">

      <%= form_for([@instructor, Booking.new], remote: true) do |f| %>
      
        <div class="field">
          <%= f.label :start_time %>
          <%= f.datetime_select :start_time, discard_year: true, minute_step: 15, ampm: true %>
        </div>

        <div class="field">
          <%= f.label :end_time %>
          <%= f.datetime_select :end_time, discard_year: true, minute_step: 15, ampm: true %>
        </div>

     </div>

      <div class="modal-footer form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" name="commit" id='submit_booking' class="btn btn-md btn-primary">Create this Booking!</button>
      </div>
    <% end %>
    </div>
  </div>
</div>
