<% title("#{@user.first_name} #{@user.last_name}'s page") %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="page-header">
			<h3>
				<%="#{@user.first_name} #{@user.last_name}" %> &nbsp;
			</h3>
		</div>
		<p><%= "#{@user.first_name} is in #{@user.time_zone}." %></p>
	</div>
</div>
<br>
<dl class="dl-horizontal">
  <dt>first name:</dt>
  <dd><%= @user.first_name %></dd>
  <dt>last name: </dt>
  <dd><%= @user.last_name %></dd>
  <dt>email:</dt>
  <dd><%= @user.email %></dd>
  <dt>time zone:</dt>
  <dd><%= @user.time_zone %></dd>
  <dt>admin:</dt>
  <dd><%= @user.admin %></dd>
  <dt>created at:</dt>
  <dd><%= @user.created_at %></dd>
</dl>
