<% title("#{@user.first_name} #{@user.last_name}'s page") %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="page-header">
			<h3>
				<%="#{@user.first_name} #{@user.last_name}" %> &nbsp;
			</h3>
		</div>
		<p><%= "#{@user.first_name} is in #{@user.time_zone}." %></p>
			<%= link_to 'Availabilities',user_availabilities_path(@user) %>
	</div>
</div>
<br>

<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<div id='top'>
			Language:
			<select id='lang-selector'></select>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<div class="calendar">
			<% timezone = current_user.time_zone if current_user %>
		</div>
	</div>
</div>
<script>

// 	timezone: "<%= timezone %>",

	var currentLangCode = 'en';

	function renderCalendar() {
		$('.calendar').fullCalendar({

			header: {
				left: 'title',
				center: 'prev next',
				right: 'today month,agendaWeek,agendaDay' 
			},
			
			defaultView: "agendaWeek",

			lang: currentLangCode,
			weekNumbers: true,
			// events: '/users/<%= @user.id %>/availabilities.json',

			displayEventEnd: true,
			eventLimit: true,
			eventOverlap: false,
			overlap: false,
			eventSources: [ 
		{
			url: '/users/<%= @user.id %>/availabilities.json',
			// rendering: 'background',
			rendering: 'background', 
			color: '#6AA4C1',
		}],
	});
	}

	renderCalendar();




</script>
