<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @availability.instructor.teacher.first_name %>
</p>

<%= link_to 'Edit', edit_instructor_availability_path(@instructor, @availability) %> |
<%= link_to 'Back', instructor_availabilities_path %>
