<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @availability.user.first_name %>
</p>

<%= link_to 'Edit', edit_user_availability_path(@user, @availability) %> |
<%= link_to 'Back', user_availabilities_path %>
